.sidebar {
  display: flex;
  padding-top: 24px;
}
:where(.css-dev-only-do-not-override-1hpnbz2).ant-menu-dark {
  background-color: white;
}
:where(.css-dev-only-do-not-override-1hpnbz2).ant-menu-dark
  .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-1hpnbz2).ant-menu-dark
  > .ant-menu
  .ant-menu-item-selected {
  background: #fff6f7 !important;
}
.ant-menu-title-content {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3d3d3d !important;
}
.ant-menu-item {
  width: 338px !important;
  height: 56px !important;
  padding: 16px 24px !important;
  margin: auto !important;
}
.header_title {
  width: 338px;
  height: 72px;
  margin: auto;
  padding-bottom: 24px;
  border-bottom: 1px solid #dddddd;
  display: flex;
  gap: 12px;
  justify-content: left;
  align-items: center;
}
.header_title-img {
  width: 48px;
  height: 48px;
  line-height: 48px;
  border-radius: 100%;
  background-color: #3d3d3d;
}
.info-menu {
  padding-top: 24px;
}
.info_icon-user {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3d3d3d !important;
}

:where(.css-dev-only-do-not-override-11lehqq).ant-menu-dark,
:where(.css-dev-only-do-not-override-11lehqq).ant-menu-dark > .ant-menu {
  background-color: #fff !important;
}
